doctype html
html
    head
        title= `${title}`
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/css/style.css')
    body
        .form-wrapper
            form(method="POST")
                label(for="pet_name") Pet Name:
                input(type="text" name="pet_name" value=data.pet_name required)
                <br>
                label(for="pet_age") Pet Age:
                input(type="text" name="pet_age" value=data.pet_age required)
                <br>
                label(for="pet_breed") Pet Breed:
                input(type="text" name="pet_breed" value=data.pet_breed required)
                <br>
                input(type="submit" value="Submit")